# Build output
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependencies
node_modules/

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# IDE/editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Test
coverage/
.nyc_output/

# Misc
*.tgz
.env
.env.local
.cache/

# OS
Thumbs.db
